<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>AES256加密</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" th:href="@{/admin/css/font.css}">
    <link rel="stylesheet" th:href="@{/admin/css/xadmin.css}">
    <script type="text/javascript" th:src="@{/admin/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/admin/js/xadmin.js}"></script>
    <script th:src="@{/admin/js/jquery-1.7.1.min.js}"></script>

    <script>
        $(function () {

            $("#aesDoEncrypt").click(aesDoEncrypt);//加密
            $("#aesDoDecrypt").click(aesDoDecrypt);//解密

        });

        function aesDoEncrypt() {
            //加密
            var url = "/client/aesDoEncrypt";
            var after = $("#before").val();

            if (after === "") {
                alert("请录入解密内容！")
                return false;
            }

            $.ajax({
                type: "post",
                url: url,
                data: {
                    encryptText: after
                },
                success: function (data) {
                    alert(data);
                }
            });
        }

        function aesDoDecrypt() {
            //解密
            var url = "/client/aesDoDecrypt";
            var after = $("#after").val();

            if (after === "") {
                alert("请录入解码内容！")
                return false;
            }

            $.ajax({
                type: "post",
                url: url,
                data: {
                    decryptText: after
                },
                success: function (data) {
                    alert(data);
                }
            });


        }

    </script>

</head>
<body>
<div class="layui-fluid">
    <div class="layui-row" style="font-size: 25px">

        <table>
            <tr>
                <td><span class="x-red">*</span>加密字段:
                </td>
                <td><input type="text" id="before" name="username" required="" lay-verify="required"
                           autocomplete="off" class="layui-input" style="width: 300px;height: 50px;font-size: 25px">
                </td>
            </tr>
        </table>
        <button id="aesDoEncrypt">加密</button>
    </div>
</div>

<br>
<p>--------------------------------</p>
<div class="layui-fluid">
    <div class="layui-row" style="font-size: 25px">

        <table>
            <tr>
                <td><span class="x-red">*</span>解密字段:
                </td>
                <td><input type="text" id="after" name="username" required="" lay-verify="required"
                           autocomplete="off" class="layui-input" style="width: 300px;height: 50px;font-size: 25px">
                </td>
            </tr>
        </table>
        <button id="aesDoDecrypt">解密</button>
    </div>
</div>

<script>
    layui.use(['form', 'layer'],
        function () {
            $ = layui.jquery;
            var form = layui.form,
                layer = layui.layer;


        });
</script>
</body>

</html>
